.button-icon[b-ysw5apbnkr] {
    width: 40px;
    height: 40px;
    background: none;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 50%;
    color: var(--color-texto);
    display: flex;
    align-items: center;
    cursor: pointer;
}

    .button-icon:hover[b-ysw5apbnkr] {
        cursor: pointer;
        background-color: rgba(0,0,0,0.1);
        /*transform: scale(1.1);*/
        /*border: 1px solid rgba(0,0,0,0.1);*/
    }

.buttons[b-ysw5apbnkr] {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
}
